* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 20px;
}

.dashboard ul li {
    background-color: #888;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.dashboard ul li.active {
    background-color: green;
}

.iframes {
    width: 100%;
    height: calc(100vh - 80px);
    border: none;
}
